{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Dmitry Stelmakhov</h1>
<div class="container py-5">
  <h4>Небольшие отрывки моих треков</h4>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" 
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/507332913&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">

  </iframe>
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
    <a href="https://soundcloud.com/farmatlab" title="FARMAT" target="_blank" style="color: #cccccc; text-decoration: none;">FARMAT</a> · <a href="https://soundcloud.com/farmatlab/lukea-magnitude-dmitry-stelmakhov-remix" title="Lukea - Magnitude (Dmitry Stelmakhov Remix)" target="_blank" style="color: #cccccc; text-decoration: none;">Lukea - Magnitude (Dmitry Stelmakhov Remix)</a>
  </div>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/725240233&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">

  </iframe>
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
    <a href="https://soundcloud.com/farmatlab" title="FARMAT" target="_blank" style="color: #cccccc; text-decoration: none;">FARMAT</a> · <a href="https://soundcloud.com/farmatlab/dmitry-stelmakhov-remember-original-mix-13122019" title="Dmitry Stelmakhov - Remember (Original Mix) 13/12/2019" target="_blank" style="color: #cccccc; text-decoration: none;">Dmitry Stelmakhov - Remember (Original Mix) 13/12/2019</a>
  
  </div>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/663791129&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">

  </iframe>
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
    <a href="https://soundcloud.com/glieserec" title="G l i e s e" target="_blank" style="color: #cccccc; text-decoration: none;">G l i e s e</a> · <a href="https://soundcloud.com/glieserec/coral-oconnor-voice-behind-dmitry-stelmakhov-remix" title="Coral O´Connor - Voice Behind (Dmitry Stelmakhov Remix)" target="_blank" style="color: #cccccc; text-decoration: none;">Coral O´Connor - Voice Behind (Dmitry Stelmakhov Remix)</a>
  </div>
  

</div>

{% endblock %}