{% extends 'base.html' %}
{% block title %}Новый пост{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
          {% if is_edit %}
            Редактировать пост
          {% else %}
            Новый пост
          {% endif %}
          </div>
          <div class="card-body">
          {% load user_filters %}
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
              {% endfor %}
            {% endif %}
              <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group row my-3 p-3">
                <label for="{{ form.text.id_for_label }}">
                  {{ form.text.label }}
                    {% if form.text.field.required %}                  
                      <span class="required text-danger" >*</span>
                    {% endif %}                  
                </label>

                  {{ form.text|addclass:'form-control' }}
              
                <small id="{{ form.text.id_for_label }}" class="form-text text-muted">
                  {{ form.text.help_text }}
                </small>                  
              </div>            
              <div class="form-group row my-3 p-3">
                <label for="{{ form.group.field.id_for_label }}">
                  {{ form.group.label }}
                    {% if form.group.field.required %}
                      <span class="required text-danger" >*</span>
                    {% endif %}
                </label>
                {{ form.group|addclass:'form-control' }}
                {% if form.group.field.help_text %}
                  <small id="{{ form.group.id_for_label }}" class="form-text text-muted">
                    {{ form.group.help_text }}
                  </small>
                {% endif %}
              </div>
              <div class="form-group row my-3 p-3">
                <label for="{{ form.image.field.id_for_label }}">
                  {{ form.image.label }}
                    {% if form.group.field.required %}
                      <span class="required text-danger" >*</span>
                    {% endif %}
                </label>
                {{ form.image|addclass:'form-control' }}
                {% if form.image.field.help_text %}
                  <small id="{{ form.image.id_for_label }}" class="form-text text-muted">
                    {{ form.image.help_text }}
                  </small>
                {% endif %}
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  {% if is_edit %}
                    Сохранить
                  {% else %}
                    Добавить
                  {% endif %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}