
<!--<title>Изменение пароля</title>-->
{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="container py-5"> 
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Изменить пароль
          </div>
          <div class="card-body">
          {% load user_filters %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
            <form method="post" action="{% url 'users:password_change' %}">
              {% csrf_token %}
              <div class="form-group row my-3 p-3">
                <label for="{{ form.old_password.id_for_label }}">
                  {{ form.old_password.label }}
                  {% if form.old_password.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>    
                {{ form.old_password|addclass:'form-control' }}
              </div>
              <div class="form-group row my-3 p-3">
                <label for="{{ form.new_password1.id_for_label }}">
                  {{ form.new_password1.label }}
                  {% if form.new_password1.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>    
                {{ form.new_password1|addclass:'form-control' }}
                {% if form.new_password1.help_text %}
                  <small id="id_new_password1-help" class="form-text text-muted">
                    {{ form.new_password1.help_text|safe }}
                  </small>
                {% endif %}
              </div>
              <div class="form-group row my-3 p-3">
                <label for="{{ form.new_password2.id_for_label }}">
                  {{ form.new_password2.label }}
                  {% if form.new_password2.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>    
                {{ form.new_password2|addclass:'form-control' }}
              </div>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Изменить пароль
                </button>
              </div>
            </form>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div>
{% endblock %}